<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>
            Ejercicio Django
        </title>

    </head>
    <body>
        <h1>Numeros ejercicio django:</h1>
            <p>
                <ul>
                    {% if array %}
                        {% for i in array %}
                            {% if i > 10 and i|divisibleby:2 %}
                                <li class="alert alert-info">
                                    {{i}}
                                </li>
                            {% else %}
                                <li class="alert alert-warning">
                                    {{i}}
                                </li>
                            {% endif%}
                        {% endfor %}
                        {% else %}
                            <p>Lista vac&iacute;a</p>
                    {% endif %}
                </ul>
            </p>     
    </body>
</html>